@model int
@{
    ViewData["Title"] = "Home Page";
    var userId = ViewData["userID"];
    var products = ViewData["Products"] as List<CLVD_POE.Models.ProductTable>;
}

<style>
    body {
        background-image: url("https://media.istockphoto.com/id/1351043359/vector/empty-blank-very-light-brown-or-beige-coloured-grunge-wooden-laminate-textured-effect-vector.jpg?s=612x612&w=0&k=20&c=SQ6pWOBouS-t_RlqzRdxmYrPPt8j-ENrV_xrPUrZ4KU=");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="text-center">
    <h1 class="text-dark">Welcome to KhumaloCraft Emporium</h1>   
    <img src="https://damassets.autodesk.net/content/dam/autodesk/www/images/right.jpg" alt="Home Page" width="1000" height="600" />
  </div>

<div style="height: 100px;"></div>
        
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Our Mission</h2>           
            <p>For half a decade we have created our products with quality and care to YOUR satisfaction. We remain commited to provide YOU with the creation you desire. Whether it be a small chair on the stoep or a large dining table, we treat each product with the utmost precision and care. We know your furnature is important to you so it is important to us. You name it we make it!</p>
        </div>
        <div class="col-md-6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEtxk5t6035oBe5C2Z6sBtraM7jVEgdTSgnw&usqp=CAU" alt="Woodwork" width="500" height="300" />
        </div>
    </div>
</div>

<div style="height = 100"/>

@if (userId != null)
{
    <p>User ID: @userId</p>
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       
       @foreach (var Products in products)
       {
          <tr>
                <td>@Products.Name</td>
                <td>@Products.Price</td>
                <td>@Products.Category</td>
                <td>@Products.Availability</td>
                <td>
                    <form asp-controller="Transaction" asp-action="PlaceOrder" method="post">
                        <input type="hidden" name="userID" value="@userId" />
                        <input type="hidden" name="productID" value="@Products.ProductID" />
                        <button type="submit">Place Order</button>
                    </form>
                </td>
          </tr>
       }
        
    </tbody>
</table>